/ClientUNO/nbproject/private/
/ServerUNO/nbproject/private/
/ClientUNO/build/
/ClientUNO/dist/
/ServerUNO/build/
/ServerUNO/build/built-jar.properties
/ServerUNO/nbproject/private/private.xml
/ServerUNO/dist/
/Bibliotecas/CommunicationCS/build/
/Bibliotecas/CommunicationCS/dist/
/Bibliotecas/CommunicationCS/nbproject/private/
